/* ESTILO GERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    background-color: black;
}
body {
    background-color: black;
    height: 100vh;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #3cff00;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.btn-contato button:hover {
    box-shadow: 0px 0px 8px #3cff00;
    transform: scale(1.05);
}
h1 {
    color: white;
}
h2.titulo {
    color: white;
    font-size: 40px;
    text-align: center;
}
h2.titulo span {
    color: #3cff00;
}
button:hover, form .btn-enviar input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #3cff00; 
}

/* ESTILO DO HEADER */
header {
    padding: 80px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: rgb(107, 107, 107);
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}
header nav.menu-desktop a:hover {
    color: white;
    transform: scale(1.05);
}
header nav ul {
    list-style-type: none;
}
header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}
section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1 {
    color: white;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site h1 span {
    color: #3cff00;
}
.topo-do-site txt-topo-site p {
    color: #3cff00;
    margin: 40px 0;
}
.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* FRAMES */
@keyframes flutuar {
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 80px 4%;
}
section.especialidades .flex {
    gap: 120px;
}
.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 25px;
    margin-top: 55px;
    transition: 0.3s;
}
.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px white;
}
.especialidades .especialidades-box svg {
    width: 125px;
    height: 125px;
    color: #3cff00;
}
.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
    margin-bottom: 100px;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: white;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #3cff00;
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #3cff00;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    transition: .3s;
}
.sobre .txt-sobre .btn-social svg {
    width: 60px;
    height: 60px;
    color: #3cff00;
}

/* ESTILO DO PORTFOLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}
.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}
.img-port:hover {
    background-position: 100% 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    background-color: #000000b8;
    color: white;
    opacity: 0;
    transition: .05s;

}
.overlay:hover {
    opacity: 1;
}

/* ESTILO DO PORTFOLIO */
section.formulario {
    padding: 80px 4%;
}
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}
form input::placeholder {
    color: #3cff00;
}
form textarea {
    resize: none;
    max-height: 500px;
}
form .btn-enviar {
    margin-top: 25px;
    text-align: center;
}
form .btn-enviar input {
    width: 120px;
    background-color: #3cff00;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    color: black;
}

.menu-mobile.abrir-menu {
    width: 70%;
    display: block;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
footer .flex {
    justify-content: space-between;  
}
footer .line-footer {
    padding: 20px 0;
}
.borda {
    border-top: 2px solid #3cff00;
}
footer .line-footer p a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
footer .line-footer svg {
    width: 60px;
    height: 60px;
    color: #3cff00;
}

/* BTN ABRIR FORA DO DESKTOP */
.btn-abrir-menu{
    display: none;
}

.btn-fechar-menu{
    display: none;
}

/* MEDIA QUERY */
@media screen and (min-width: 1021px) {
    .btn-abrir-menu {
        display: none;
    }

    .menu-mobile {
        display: none;
        width: 0; /* Garante que o menu mobile não ocupe espaço */
    }

    .overlay-menu {
        display: none; /* Garante que o overlay do menu não apareça */
    }
}
@media screen and (max-width: 1020px){
/* CLASSES GERAIS */
.flex {
    flex-direction: column;
}
h2.titulo {
    color: white;
    font-size: 35px;
    line-height: 30px;
}
.topo-do-site .flex{
    flex-direction: column-reverse;
}

/* CABEÇALHO */
    .menu-desktop, btn-contato {
        display: none;
    }

/* ESTILO MENU-MOBILE */
.btn-abrir-menu svg{
    color:#3cff00;
    font-size: 50px;
}
.btn-fechar-menu{
    display: block;
}

/* BTN ABRIR SOMENTE MOBILE */
.btn-abrir-menu{
    display: block;
}
.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
    
}
.menu-mobile {
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
    display: none;
}
.menu-mobile .btn-fechar {
    padding: 20px 5%;
}
.menu-mobile .btn-fechar svg {
    font-size: 30px;
    color: #3cff00;

}

.menu-mobile nav ul{
    text-align: right;  
}

.menu-mobile nav li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
.menu-mobile nav li a:hover {
    background-color: #3cff00;
    color: black;
}

/* TOPO DO SITE */
section.topo-do-site{
    padding: 20px 8%;
}
.topo-do-site h1 {
    font-size: 30px;
}

.topo-do-site .img-topo-site img {
    width: 100%;
}

.topo-do-site .img-topo-site .flex {
    gap: 40px;
}

/* ESPECIALIDADES */
section.especialidades {
    padding: 40px 8%;
}

/* SOBRE */
section.sobre {
    padding: 80px 8%;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 35px;
    text-align: center;
}

.btn-social {
    text-align: center;
}

.img-sobre img {
    width: 100%;
}

/* PORTFOLIO */
section.portfolio {
    padding: 80px 8%;
}
.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
section.portfolio .flex {
    gap: 60px;
}

/* RODAPÉ */
footer .flex {
    flex-direction: column;
    gap: 30px;
}
footer .line-footer {
    text-align: center;
}
}
